<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onfengma.androidprac">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DataBindingActivity"
            android:label="@string/title_activity_data_binding" />
        <activity
            android:name=".WindowActivity"
            android:label="@string/hello_world" />
        <activity
            android:name=".EnterActivity"
            android:label="@string/title_activity_enter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" />
        <activity
            android:name=".RecycleVIewActivity"
            android:label="@string/title_activity_recycle_view" />
        <activity
            android:name=".TaskAffiniActivity"
            android:label="@string/title_activity_task_affini" />
        <activity
            android:name=".Affini1Activity"
            android:label="@string/title_activity_affini1"
            android:launchMode="singleTask"
            android:taskAffinity=".affini1" />
        <activity
            android:name=".Affini2Activity"
            android:label="@string/title_activity_affini2" />
        <activity
            android:name=".FrameAnimationActivity"
            android:label="@string/title_activity_frame_animation" />

        <service
            android:name=".DemoService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".GuidenceActivity"
            android:label="@string/title_activity_guidence"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SwipeFinishActivity"
            android:label="@string/title_activity_swipe_finish"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".SwipeFinishFatherActivity"
            android:label="@string/title_activity_swipe_finish_father"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".VolleyDemoActivity_"
            android:label="@string/title_activity_vollay_demo"></activity>
        <activity
            android:name=".OkHttpClientActivity"
            android:label="@string/title_activity_ok_http_client"></activity>
    </application>

</manifest>
