<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onfengma.androidprac">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DataBindingActivity"
            android:label="@string/title_activity_data_binding" />
        <activity
            android:name=".WindowActivity"
            android:label="@string/hello_world" />
        <activity
            android:name=".EnterActivity"
            android:label="@string/title_activity_enter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" />
        <activity
            android:name=".RecycleVIewActivity"
            android:label="@string/title_activity_recycle_view"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TaskAffiniActivity"
            android:label="@string/title_activity_task_affini" />
        <activity
            android:name=".Affini1Activity"
            android:label="@string/title_activity_affini1"
            android:launchMode="singleTask"
            android:taskAffinity=".affini1" />
        <activity
            android:name=".Affini2Activity"
            android:label="@string/title_activity_affini2" />
        <activity
            android:name=".FrameAnimationActivity"
            android:label="@string/title_activity_frame_animation" />

        <service
            android:name=".DemoService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".GuidenceActivity"
            android:label="@string/title_activity_guidence"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SwipeFinishActivity"
            android:label="@string/title_activity_swipe_finish"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".SwipeFinishFatherActivity"
            android:label="@string/title_activity_swipe_finish_father"
            android:theme="@style/SwipeBack" />
        <activity
            android:name=".VolleyDemoActivity_"
            android:label="@string/title_activity_vollay_demo" />
        <activity
            android:name=".OkHttpClientActivity"
            android:label="@string/title_activity_ok_http_client" />
        <activity
            android:name=".DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:theme="@style/AppTheme.DrawerLayout" />
        <activity
            android:name=".FragmentTestActivity"
            android:label="@string/title_activity_fragment_test" />
        <activity
            android:name=".MVP.MVPDemoActivity"
            android:label="@string/title_activity_mvpdemo" />
        <activity
            android:name=".OnTouchEventDemoActivity"
            android:label="@string/title_activity_on_touch_event_demo" />
        <activity
            android:name=".AllDrawableDemoActivity"
            android:label="@string/title_activity_all_drawable_demo" />
        <activity
            android:name=".ManagerSystemUIActivity"
            android:label="@string/title_activity_manager_system_ui"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MaterialDemoActivity"
            android:label="@string/title_activity_material_demo" />
        <activity
            android:name=".DesignSupportDemoActivity"
            android:label="@string/title_activity_design_support_demo"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ThemeAndStyleDemoActivity"
            android:label="@string/title_activity_theme_and_style_demo"
            android:theme="@style/AppTheme.Wrapper" />
        <activity
            android:name=".StorageDemoActivity"
            android:label="@string/title_activity_storage_demo" />
        <activity
            android:name=".ShareDemoActivity"
            android:label="@string/title_activity_share_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SceneDemoActivity"
            android:label="@string/title_activity_scene_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".Video2Activity" />
        <activity android:name=".MeterialAnimActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".ViewTestActivity" />
        <activity
            android:name=".SoftInpuActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".TabLayoutDemoActivity" />
        <activity android:name=".WebViewDemoActivity" />
        <activity android:name=".IPCDemoActivity" />

        <service
            android:name=".service.MessagerService"
            android:process=":remote" />
        <service
            android:name=".service.AIDLService"
            android:process=":remote2" />

        <activity android:name=".DrawableDemoActivity" />
        <activity android:name=".ViewPagerDemoActivity" />
        <activity android:name=".CoordinateActivity" />
        <activity android:name=".HealthActivity" />
        <activity android:name=".SpannableDemoActivity" />
        <activity android:name=".ScrollerActivity" />
        <activity android:name=".SwipeShowActivity" />
        <activity android:name=".WebViewPullActivity" />
        <activity android:name=".ShakingDemoActivity" />
        <activity android:name=".ChangeTopActivity" />
        <activity android:name=".DialogDemoActivitity"></activity>
        <activity android:name=".OkhttpDemoActivity" />
        <activity android:name=".WebViewPullActivity" />
        <activity android:name=".RichTextActivity"></activity>
    </application>

</manifest>
